body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

#gameWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#gameContainer {
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* canvas {
  border: 4px solid white;
} */

#controls {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 20px);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 10;
}


#controls button {
  font-size: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

#retryBtn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  display: none;
  z-index: 20;
}

#welcomeScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

#welcomeLogo {
    width: 220px;
    max-width: 80vw;
    margin-bottom: 20px;
}

#welcomeScreen button {
    margin-top: 20px;
    font-size: 22px;
    padding: 10px 20px;
}
