body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameContainer {
  width: 675px;
  height: 650px;
  border: 6px solid rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  box-shadow: 0 0 20px black;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
